@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
  background-size: fit;
  background-position: center;
  /*background-image: url(/bg.webp);*/
  background-color:black;
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-size-adjust: 100%;
}

.font-bold {
  font-weight: 400;
}
